<div class="loginPage" v-if="!isLogin">
    <div class="loginCard">
        <div class="loginCardLeft">

        </div>
        <div class="loginCardRight">
            <div class="loginFormHead">
                <h1>Signin</h1>
            </div>
            <div class="loginForm">
                <form @submit.prevent="login">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Insert email" name="email" id="email" style="margin: 3% 0;" v-model="user.username">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Insert password" name="password" id="password" style="margin: 3% 0;" v-model="user.password">
                    <button type="submit" style="margin: 3% 0;">Login</button>
                    <button type="submit" style="margin: 3% 0;">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mainPage" v-else>
    <div class="body-header">
        <h1>Kanban Board</h1>
    </div>
    <div class="container-body">
        <div class="container-card">
            <h3>To Do</h3>
            <div class="card-content">
                <h4>RE-UI_Suggested Members</h4>
            </div>
            <div class="card-content">
                <h4>User profile partial performs query on subscriptions table!</h4>
            </div>
            <div class="card-content">
                <h4>Code cheese</h4>
            </div>
            <div class="card-content">
                <h4>New Account creation flow</h4>
            </div>
            <div class="card-content">
                <h4>API</h4>
            </div>
            <div class="card-content">
                <h4>Change a pulse's email</h4>
            </div>
            <div class="card-content">
                <h4>Upgrade Backbone.js</h4>
            </div>
            <div class="card-content">
                <h4>Improve post</h4>
            </div>
            <div class="card-content">
                <h4>General invite dialog-show pending invites</h4>
            </div>
            <div class="card-content">
                <h4>Allow fyk==ull email lists to be</h4>
            </div>
        </div>
        <div class="container-card">
            <h3>In Progress</h3>
            <div class="card-content">
                <h4>Pair Project</h4>
            </div>
        </div>
        <div class="container-card">
            <h3>Review</h3>
            <div class="card-content">
                <h4>Js-racer</h4>
            </div>
            <div class="card-content">
                <h4>Sudoku</h4>
            </div>
            <div class="card-content">
                <h4>Live Code Mantap</h4>
            </div>
            <div class="card-content">
                <h4>Battleship</h4>
            </div>
        </div>
        <div class="container-card">
            <h3>Finished</h3>
            <div class="card-content">
                <h4>Fancy Todo</h4>
            </div>
        </div>
    </div>
</div>