* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#signup-page,
#signin-page {
  font-weight: 300;
  background: #171a25;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.right {
  flex: 1;
}

/* Sign In and Sign Up*/
#signup,
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signup form,
#signin form {
  width: 80%;
  padding-bottom: 3rem;
}

#signup .logo,
#signin .logo {
  margin-bottom: 3vh;
}

#signup .logo img, 
#signin .logo img {
  background-color: #f96816;
  border-radius: 50%;
  width: 200px;
}

#signup label,
#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signup .text-input, 
#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #171a25;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

#signup .primary-btn,
#signin .primary-btn {
  width: 100%;
}

#signup .secondary-btn,
#signin .secondary-btn,
.or,
.links {
  width: 60%;
}

#signup .links p,
#signin .links p {
  display: block;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signup .links a,
#signin .links a {
  color: #f96816;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;
}

/* Showcase */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./image/bg.jpg') no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}

.showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

/* Footer */
.main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

.main-footer a {
  color: #f96816;
  text-decoration: underline;
}

/* Button */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}


/* Dashboard Page */
#dashboard-page{
  width: 100vw;
  height: 100vh;
}

/* navbar */

.navbar{
  background: #fff;
  height: 10%;
}

.navbar-brand{
  display: flex;
  align-content: center;
}

.navbar-brand img{
  width: 30px;
}

#signout-btn {
  height: 80%;
  padding-left: 30px;
  border-left: 1px solid #b3b3b3;
  color: #646666;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#signout-btn p{
  margin: 0;
}

#signout-btn p:hover{
  color: #f96816;
}

/* mainpage */

#main-page{
  display: flex;
  margin: 0;
  padding: 0;
  height: 90%;
  background-color: #f6f9fb;
}

#sidebar{
  height: 100%;
  width: 200px;
  background-color: #171a25;
  border-radius: 0 30px 0 0;
}

#user-data{
  width: 100%;
  height: 25%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #b3b3b3;
  color: #fff;
}

#user-data img{
  width: 50%;
  margin-bottom: 15px;
}

#user-data h5{
  margin-bottom: 5px;
  font-size: medium;
  max-width: 100%;
}

#user-data p{
  color: #919191;
  margin: 0;
  padding-right: 10px;
  font-size: small;
  max-width: 100%;
}

#task-data{
  width: 100%;
  height: 25%;
  padding: 5%;
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#task-data h6{
  color: #f96816;
  margin: 0;
}

.counter h3{
  color: #fff;
}

.counter p{
  color: #919191;
  margin: 0;
}

.counter{
  width: 100%;
  display: flex;
  align-items: center;
}

.open-task{
  margin-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#data-option{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  height: 50%;
  padding: 5%;
  color: #fff;
  font-size: .75rem;
}

#content{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

#main-board {
  min-width: 21rem;
  height: fit-content;
  max-height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

#main-board h5{
  margin-left: 10px;
}

#board{
  max-height: 100%;
  background: #f6f9fb;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

.card{
  width: 100%;
  margin-bottom: 2mm;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

#card-bar{
	display: flex;
	justify-content: space-around;
	padding-bottom: 3mm;
	color: #6284e4;
}

#card-bar div{
  width: 35px;
  height: 35px;
  border-radius: 15%;
  background: #dde6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 1200px) {
  .left {
    flex: 4;
  }

  .right {
    flex: 6;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: start;
    margin-top: 4vh;
  }

  #signup .logo,
  #signin .logo {
    margin-bottom: 2vh;
  }

  #signup .logo img, 
  #signin .logo img {
    width: 100px;
  }

  #signup form,
  #signin form {
    padding-bottom: 1rem;
  }

  #signup .text-input,
  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  #signup .links p,
  #signin .links p{
    margin-bottom: .5rem;
  }

  #signin .or{
    margin-bottom: .5rem;
  }

  .main-footer {
    padding-top: .5rem;
  }

  .main-footer p{
    margin-bottom: .5rem;
  }

  #user-data img{
    width: 50%;
    margin-bottom: 5px;
  }

  #user-data h5{
    margin-bottom: 0;
    font-size: .75rem;
  }
  
  #user-data p{
    font-size: .5rem;
    margin: 0;
  }
}
