* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

#signup-page,
#signin-page {
  font-weight: 300;
  background: #191919;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.right {
  flex: 1;
}

/* Sign In and Sign Up*/
#signup,
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signup form,
#signin form {
  width: 80%;
  padding-bottom: 3rem;
}

#signup .logo,
#signin .logo {
  margin-bottom: 3vh;
}

#signup .logo img, 
#signin .logo img {
  background-color: #f96816;
  border-radius: 50%;
  width: 200px;
}

#signup label,
#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signup .text-input, 
#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #191919;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

#signup .primary-btn,
#signin .primary-btn {
  width: 100%;
}

#signup .secondary-btn,
#signin .secondary-btn,
.or,
.links {
  width: 60%;
}

#signup .links p,
#signin .links p {
  display: block;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signup .links a,
#signin .links a {
  color: #f96816;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;
}

/* Showcase */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./image/bg.jpg') no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}

.showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

/* Footer */
.main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

.main-footer a {
  color: #f96816;
  text-decoration: underline;
}

/* Button */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}

/* Media Queries */
@media (min-width: 1200px) {
  .left {
    flex: 4;
  }

  .right {
    flex: 6;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: start;
    margin-top: 4vh;
  }

  #signin .logo {
    margin-bottom: 2vh;
  }

  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  .main-footer {
    padding-top: 1rem;
  }
}
