.jumbotron {
  /* height: 50%;
     */
  padding: 0;
  background-color: #333333;
  color: white;
  text-align: center;
}

.form-control {
  /* background-color: grey; */
  border: gray solid 7px;
  /* color: white; */
}

/* body {
  background-color: #ca5b53;
} */
.row#first {
  background-color: #e1f4f3;
  border: 3px solid;
}

.row#second {
  background-color: honeydew;
  border: 1px solid;
}
