body {
    background: #ECEFF1;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navpanel {
    width: 100%;
    height: 100px;
}

#navmenu {
    position: fixed;
    width: 50%;
}

#login-box,
#register-box {
    background: white;
    width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#login-box h2,
#register-box h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#login-box h1,
#register-box h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#login-box #login-form,
#register-box #register-form {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#login-box #login-form #login-email,
#login-box #login-form #login-password,
#register-box #register-form #reg-email,
#register-box #register-form #reg-password,
#register-box #register-form #verifypassword {
    width: 100%;
    height: 20px;
}

#login-box a,
#register-box a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#add,
#login-box,
#register-box,
#login-box a,
#register-box a,
#login-box button,
#register-box button,
#logout {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login-box button,
#register-box button {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 700;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
    border: none;
}

#add {
    margin-top: 5px;
    height: 30px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: left;
    width: 120px;
    margin-left: -100px;
}

#logout {
    margin-top: 5px;
    height: 30px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    background: #000000;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: left;
    width: 120px;
    margin-left: -100px;
}

#logout:hover,
#add:hover {
    margin-left: 0px;
    transition-duration: 300ms;
}

.content {
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: center;
}

#pre-log {
    background: rgba(153, 205, 50, 0.5);
    height: fit-content;
    width: 25%;
}

#todo {
    background: rgba(0, 128, 0, 0.5);
    height: fit-content;
    width: 25%;
}

#on-progress {
    background: rgba(0, 0, 255, 0.5);
    height: fit-content;
    width: 25%;
}

#finished {
    background: rgba(238, 130, 238, 0.5);
    height: fit-content;
    width: 25%;
}

#pre-log-content-box,
#todo-content-box,
#on-progress-content-box,
#finished-content-box {
    margin: auto;
    padding: 5px;
    width: 80%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 25px;
    /* border-top-right-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
    border-bottom-right-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#to-pre-log {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: rgba(153, 205, 50, 0.7);
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
}

#to-todo {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: rgba(0, 128, 0, 0.7);
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
}

#delete {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: rgba(22, 1, 1, 0.7);
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
}

#to-on-progress {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: rgba(0, 0, 255, 0.7);
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
}

#to-finished {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: rgba(141, 34, 141, 0.7);
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
}