/* hide scroll bar */
::-webkit-scrollbar { width: 0 !important }

#activity-data{
    max-width: 100vw;
    /* overflow-x: scroll; */
}

/* width */
#activity-data::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#activity-data::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#activity-data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Handle on hover */
#activity-data::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* card subtask */
#subtask{
    min-width: 100%;
}

/* card parent */
.card-parent {
    max-height: 80vh;
    overflow-y: scroll;
}

/* width */
.card-parent::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.card-parent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.card-parent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Handle on hover */
.card-parent::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.parent-card-title{
    font-size: 1em;
}

/* card child */
.card .card-title{
    font-size: 0.8em;
}

.card .lead {
    font-size: 0.75em;
}

/* add list */
.list-btn{
    
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
